In [3]:
import pandas as pd
df=pd.read_csv(r"C:\jaya sri\Assignments\8\friend_names,Quality.txt")
df

  friend_names      Quality
0      Mounika  intelligent
1     Santhosh  intelligent
2     nasheena        brave
3       swathi         good
4        durga  intelligent
5       Swapna       clever

In [7]:
import os
import time

# Path to the file/directory
path = r"C:\jaya sri\Assignments\8\friend_names,Quality.txt"

# Both the variables would contain time
# elapsed since EPOCH in float
ti_c = os.path.getctime(path)
ti_m = os.path.getmtime(path)

# Converting the time in seconds to a timestamp
c_ti = time.ctime(ti_c)
m_ti = time.ctime(ti_m)

print(f"The file located at the path {path} \
was created at {c_ti} and was "
      f"last modified at {m_ti}")

The file located at the path C:\jaya sri\Assignments\8\friend_names,Quality.txt was created at Thu Jul 18 16:24:45 2024 and was last modified at Thu Jul 18 16:24:46 2024

In [9]:
import os
import time

# Path to the file/directory
path = r"C:\jaya sri\Assignments\8\friend_names,Quality.txt"

# Both the variables would contain time
# elapsed since EPOCH in float
ti_c = os.path.getctime(path)
ti_m = os.path.getmtime(path)

# Converting the time in seconds to a timestamp
c_ti = time.ctime(ti_c)
m_ti = time.ctime(ti_m)

print(f"The file located at the path {path} \
was created at {c_ti} and was "
      f"last modified at {m_ti}")

The file located at the path C:\jaya sri\Assignments\8\friend_names,Quality.txt was created at Thu Jul 18 16:24:45 2024 and was last modified at Tue Jan 14 16:10:42 2025

In [11]:
import pandas as pd
df_v1=pd.read_csv(r"C:\jaya sri\Assignments\8\friend_names,Quality.txt")
df

  friend_names      Quality
0      Mounika  intelligent
1     Santhosh  intelligent
2     nasheena        brave
3       swathi         good
4        durga  intelligent
5       Swapna       clever
6       karthi       karthi
7        param        param