In [5]:
import pandas as pd
df=pd.read_excel(r"D:\jaya sri\Assignments\Jayasri\pandas_assign10\vegfoodtaste.xlsx")
df

        vegfood  taste
0        paneer  curry
1          aloo    fry
2      babycorn    fry
3      vegpulav    fry
4    gobimasala  curry
5  paneermasala   soup
6     mealmaker   soup

In [13]:
import time
now=time.localtime()
t=time.strftime("%H :%M :%S",now)
print(t)

14 :59 :02

In [15]:
from datetime import date
today=date.today()
print("today=",today)
date=today

today= 2025-01-14

In [17]:
file_name = "vegfoodtaste"

# Get current date and time
current_date_time = time.strftime("%Y-%m-%d_%H-%M-%S")

# Append date and time to file name
new_file_name = f"{file_name}_{current_date_time}.txt"

# Create a new file with the updated name
with open(new_file_name, "w") as file:
    file.write("Hello, World!")

In [19]:
new_file_name

'vegfoodtaste_2025-01-14_14-59-17.txt'

In [21]:
import pandas as pd
df=pd.read_excel(r"D:\jaya sri\Assignments\Jayasri\pandas_assign10\vegfoodtaste.xlsx")
df

        vegfood  taste
0        paneer  curry
1          aloo    fry
2      babycorn    fry
3      vegpulav    fry
4    gobimasala  curry
5  paneermasala   soup
6     mealmaker   soup
7      mallika     NaN
8        swathi    NaN
9      prasanna    NaN

In [23]:
file_name = "vegfoodtaste"

# Get current date and time
current_date_time = time.strftime("%Y-%m-%d_%H-%M-%S")

# Append date and time to file name
new_file_name = f"{file_name}_{current_date_time}.txt"

# Create a new file with the updated name
with open(new_file_name, "w") as file:
    file.write("Hello, World!")

In [25]:
new_file_name

'vegfoodtaste_2025-01-14_15-01-05.txt'

In [33]:

import datetime
import os

# Variable file name
file_name = "example.txt"

# Get current date and time
current_date_time = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M-%S")

# Append date and time to file name
new_file_name = f"{file_name.split('.')[0]}_{current_date_time}.{file_name.split('.')[-1]}"

# ----------------------------------------------------
# Check if file exists
if os.path.exists(file_name):
    # Rename the file with the updated name
    os.rename(file_name, new_file_name)
    print(f"File renamed to {new_file_name}")
else:
    print(f"File {file_name} does not exist")

File example.txt does not exist

In [35]:
import pandas as pd
df_f=pd.read_excel(r"C:\jaya sri\Assignments\Jayasri\pandas_assign10\Friendsquality.xlsx")
df_f

       friendname      quality
0          Parvin  Intelligent
1        Nasheena  Intelligent
2            Hari      curious
3           varun      curious
4          harsha     anxuious
5           vamsi        happy
6          zaheer       hacker
7           zakir       skater
8        santhosh        happy
9           vamsi       hacker
10  Veera brahmam       Father
11    Ratnakumari       Mother
12      sravanthi       sister
13           hari      brother
14        sravani       sister
15         harsha      brother
16        supraja       sister

In [45]:

import datetime
import os

# Variable file name
file_name = "Friendsquality.txt"

# Get current date and time
current_date_time = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M-%S")

# Append date and time to file name
new_file_name = f"{file_name.split('.')[0]}_{current_date_time}.{file_name.split('.')[-1]}"

In [47]:
new_file_name

'Friendsquality_2025-01-14_15-14-01.txt'

In [ ]:
# ----------------------------------------------------
# Check if file exists
if os.path.exists(file_name):
    # Rename the file with the updated name
    os.rename(Friendsquality, Friendsquality)
    print(f"File renamed to {Friendsquality}")
else:
    print(f"File {file_name}")

In [61]:


import os

# Specify the file path
file_path = 'vegfoodtaste.txt'

# Get the file creation time
creation_time = os.path.getctime(file_path)

# Convert the creation time to a human-readable format
import datetime
creation_date_time = datetime.datetime.fromtimestamp(creation_time)

# Print the creation date and time
print(f"File created on: {creation_date_time}")

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'vegfoodtaste.txt'